<div style="padding: 20px; margin-left: 80px;">
    <%= render partial: "layouts/error_list", locals: {new_object: @message} %>
    <%= form_for @message, url: user_messages_path do |f| %>
        <h3>Compose A New Message </h3>
        From: <%= current_user.username %><br><br>

        <%= f.label :recipient_id, "To: "%>
        <%= f.collection_select :recipient_id, User.where.not(id: session[:user_id]), :id, :username %><br><br>

        <%= f.label :content %><br>
        <%= f.text_area :content, size: "70x10" %><br><br><br>
        
        <%= f.submit 'Send Message' %><br><br><br>
    <% end %>
</div>