<br>
<% if current_user %>

    <div class="column-left">
        <p style="text-align: center; margin-top: 26px;">Here's how you look to others:</p>
        <a href="<%= user_path(@user.id) %>">
            <div class="profile-picture" style="text-align: center; margin-top: 25px;">
                <img src="<%= @user.profile_pic %>">
            </div>
            <div style="margin-top: 20px; text-align: center;">
                <h3><%= @user.username %></h3>
            </div>
        </a>
    </div>

    <div class="column-right">
        <div class="row" style="border: solid; border-width: 1px; padding: 20px; margin-right: 50px;">
            <h1 style="text-align: center;">All Users</h1>

            <% @users.each do |user| %>
                <a href="<%= user_path(user) %>">
                    <div class="column">
                        <div class="profile-picture" style="text-align: center; margin-top: 25px;">
                            <img src="<%= user.profile_pic %>"><br>
                        </div>
                        <div style="text-align: center;">
                            <h3><%= user.username %></h3>
                        </div>
                </a></div>
            <% end %>
        </div>
    </div>

<% else %>

<div class="home-page-image">
    <%= image_tag("sad-cloud.gif") %>
</div>
<div style="text-align: center; margin-top: 100px;">
    <h3>You must be signed in to view your profile!</h3>
    <br>
    <h3><%= link_to "log in", '/login' %> or <%= link_to "sign up", new_user_path %></h3>
</div>

<% end %>