<br>
<% if current_user %>

    <h1 style="text-align: center;">Plants</h1>
    <h2 style="margin-left: 50px;">Propogate</h2>
        <div class="row" style="border: solid; border-width: 1px; width: 95%; margin: auto; padding: 15px;">
            <div style="float: left;">
                <%= image_tag("plant.jpg", size: "400x200") %>
                <% if current_user.plants.count < 6 %>
                    <div style="float:right;">
                        <h3 style="float: right; margin-top: 30px;">Carefully select which plant to propogate!</h3><br>
                        <p>(You can only have 6 plants!)</p>

                        <%= form_for @plant, url: { action: "create" } do |f| %>
                            <%= f.label :id, text="Select a plant:"%>
                            <%= f.collection_select :id, @plants, :id, :description, prompt: true %><br><br>

                            <%= f.submit text="Propogate!"%>
                        <% end %>
                    </div>

                <% else %>
                    <h3 style="float: right; margin-top: 50px;">You can't have any more plants!</h3>
                <% end %>
            </div>
        </div><br>

    <h2 style="margin-left: 50px;">Your Plants</h2>
    <div class="row" style="border: solid; border-width: 1px; width: 95%; margin: auto; padding: 15px;">
        <div class="row">
            <% @plants.each do |plant| %>
            <% if @plants.count == 1 %>
                <div class="single-plant">
            <% elsif @plants.count == 2 %>
                <div class="two-plants">
            <% else %>
                <div class="many-plants">
            <% end %>
                    <% if plant.nickname == nil || plant.nickname == "" %>
                        <div style="margin-top: 78px;"></div>
                    <% else %>
                        <h1><i><%= plant.nickname %></i></h1>
                    <% end %>
                        <% if plant.stat_total >= 70 %>
                            <div class="profile-picture"><a href="<%= plant_path(plant) %>"><%= image_tag("happy.jpg") %></a></div>
                        <% else %>
                            <div class="profile-picture"><a href="<%= plant_path(plant) %>"><%= image_tag("sad.jpeg") %></a></div>
                        <% end %>
                    <h3>~ <%= plant.name %> ~</h3>
                    <p>Health: <%= plant.health %></p>
                    <p>Happiness: <%= plant.happiness %></p>
                    <p>Hunger: <%= plant.hunger %></p>
                </div>
            <% end %>
        </div>
    </div>

<% else %>

    <div class="home-page-image"><%= image_tag("sad-cloud.gif") %></div>
    <div style="text-align: center; margin-top: 100px;">
        <h3>You must be signed in to view your plants!</h3>
        <br>
        <h3><%= link_to "log in", '/login' %> or <%= link_to "sign up", new_user_path %></h3>
    </div>

<% end %>