<div>
    <ul>
        <a href="/">
            <div class="box">
                <h3 style="margin-top: 14px; margin-bottom: 0px; float: left; margin-left: 18px;">Bio</h3>
                <h3 style="margin-top: 0px; float: right; margin-right: 20px;">Plants</h3>
            </div>
        </a>

<% if session[:user_id] %>

            <li class="dropdown">
                <a href="<%= user_path(current_user) %>" class="dropbtn"><h4>Profile</h4></a>
                    <div class="dropdown-content">
                        <a href="<%= user_path(current_user) %>">My Profile</a>
                        <a href="<%= users_path %>">All Profiles</a>
                    </div>
                </li>
            <li><a href="<%= plants_path %>"><h4>Plants</h4></a></li>
            <li><a href="<%= friendships_path %>"><h4>Friends</h4></a></li>
            <li><a href="/messages"><h4>Messages</h4></a></li>
            <li style="float:right"><a class="active" href="/logout"><h4>Log Out</h4></a></li>
        </ul>
    </div>

<% else %>

            <li><a href="<%= users_path %>"><h4>Profile</h4></a></li>
            <li><a href="<%= plants_path %>"><h4>Plants</h4></a></li>
            <li style="float:right"><a class="active" href="/login"><h4>Log In</h4></a></li>
        </ul>
    </div>

<% end %>