<!DOCTYPE html>
<html>
  <head>
    <title>BioPlants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #eeeeee;">
    <%= render "layouts/navigation" %>
    <div class="content-box">
      <br>
      <%= yield %>
      <br class="clear">
    </div>
  </body>
</html>
