<!DOCTYPE html>
<html>
  <head>
    <title>BioPlants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #eeeeee;">
    <%= render "layouts/navigation" %>
    <div class="content-box">
      <br>
      <%= yield %>
    </div>
  </body>
</html>
